<h2>YOUR HOMEPAGE, {{user.name}}!</h2>

{{#each posts as |post|}}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <a href="/post/{{post.id}}">{{post.title}}</a>
        </button>

      </h2>
      Created by
      {{post.user.name}}
      on
      {{format_date post.date_created}}

      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          {{post.content}}
        </div>
      </div>
    </div>

  </div>

{{/each}}

<div class="col-md-6">

  <div class="form-group">
    <a href="/new/{{post.id}}">{{post.title}}
      <button type="submit" class="btn btn-primary">Create NEW POST</button></a>
  </div>

</div>

{{! <script src="./js/profile-nwpost.js"></script> }}