<!-- Loop over each object in the projects array -->
{{#each projects as |project|}}
  <div class="row mb-4 project">
    <div class="col">


  </div>
{{/each}}
{{#each projects as |project|}}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      
        <a href="/project/{{project.id}}">{{project.name}}</a>
      </button>
    </h2>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->

        <a href="/project/{{project.id}}">{{project.name}}</a>
      </h2>
      Created by     {{project.user.name}}
    
        on
        {{format_date project.date_created}}</p>
      
        <span for="img" aria-label="money">💲</span>
        <!-- Pass needed_funding value to the helper function -->
        <span class="dollar-amount">{{format_amount
            project.needed_funding
          }}</span>
        needed!
      </p>
         <p>
        {{project.description}}
      </p>

    </div>
    
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         {{project.description}} </div>
    </div>
  </div>

</div>

{{/each}}