
 <h2>YOUR HOMEPAGE, {{user.name}}!</h2>

{{#each posts as |post|}}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </button>
  
    </h2>
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </button>
      Created by     {{post.user.title}}
    
        on
        {{format_date post.date_created}}</p>
           {{#if logged_in}}
          <p>
        coments here
        <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
  <button type="button" class="btn btn-primary">Primary</button>
        </p>

              {{else}}
          <p>
        login for coment
        <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Comments</label>
    <button type="button" class="btn btn-secondary">Secondary</button>


      </p>
            {{/if}}
            

    
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         {{post.content}} </div>
    </div>
  </div>

</div>

{{/each}}

       