{{! <h2>YOUR HOMEPAGE!</h2> }}

{{#each posts as |post|}}

  <div class="card">

    <div class="card-header alert-primary">
      <div class="hstack gap-3">
        <div class="border">
          <a href="/post/{{post.id}}">{{post.title}}</a></div>
        <div class="bg-light border ms-auto">Created by {{user.name}}</div>
        <div class="vr"></div>
        <div class="bg-light border">
          on
          {{format_date date_created}}</div>
      </div>
    </div>
    <div class="card-body">

      <p class="card-text"> {{content}} </p>

    </div>
  </div>
{{/each}}

<div class="col-md-6">

  <div class="form-group">
    <a href="/new/{{post.id}}">{{post.title}}
      <button type="submit" class="btn btn-primary">Create NEW POST</button></a>
  </div>

</div>

{{! <script src="./js/profile-nwpost.js"></script> }}