<div class="text-center">
  <h2>EDIT</h2>

  <h2>{{title}}</h2>



  <div class="edit">
    <button
      type="submit"
      class="btn btn-sm btn-secondary"
      data-id="{{id}}"
    >EDit{{id}}</button>
  </div>
  <div class="delete">
    <button
      class="btn btn-sm btn-danger"
      data-id="{{project.id}}"
    >DELETE</button>
  </div>

</div>


<div class="row mt-4">
  <div class="col-md-6">
    <h3>Edita Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">p name:</label>
        <input
          class="form-input"
          type="text"
          id="project-name"
          name="project-name"
          value="{{title}}"
        />
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Content</span>
        </div>
        <textarea
          class="form-control"
          id="project-desc"
          name="project-desc"
          aria-label="With textarea"
        >
          {{content}}</textarea>
      </div>

    </form>
  </div>


</div>

<script src="./js/profile-ed.js"></script>