<div class="col-auto">
  <h2>YOUR DASHBOARD, {{name}}!</h2>

</div>

{{#if projects.length}}
  <div class="col-md-12 project-list">

    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
      {{{get_emoji this}}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/edit/{{project.id}}">{{project.title}}</a></h4>
          <h4>{{project.content}}</h4>
        </div>


        
  {{/each}}
  {{/if}}
  
  <script src="./js/profile.js"></script> 
       
